@import 'globals.scss';

.mainComponent{
  background-color: $color-primary-green;
  min-height: 600px;


  .mainComponentMainContainer{
    height: 600px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .colLeft{
      .mainHeading{
        // background-color: ;
      }

      .mainButton{
        height: 45px;
        border-radius: 30px;
        width: 300px;
        background-color: white;
        color: $color-primary-green;
        border: 0px solid $color-primary-green;
        font-weight: bold;
      }
    }

    .colRight{

    }

  }
}

.aboutComponent{
  background-color: white;
  min-height: 500px;

  .infoSection{
    margin-top: 30px;
    margin-bottom: 30px;
    color: $color-primary-green;
  }

  .blockSection{
   
    div{
      // border: 1px solid pink;
    }
  }
}