.stylesTable{
    margin: 10px;
}
.zarBalanceCardStyle{
    border-radius: 0px;
	margin-top: 40px;

    .makeDepositButtonStyle{
        border-radius: 0px;
        width: 100%;
    }
}

.notesBalanceCardStyle{
    border-radius: 0px;
	margin-top: 40px;
	width: 100%;

    .buySellNotesButtonStyle{
        border-radius: 0px;
        width: 100%;
        margin-top: 5px;
    }

    .sendNotesButtonStyle{
        border-radius: 0px;
        width: 100%;
	    margin-top: 5px;
    }
}

